/exercise1.html
/exercise2.html
/exercise3.css
/exercise3.html
/exercise4.css
/exercise4.html
/exercise5.css
/exercise5.html
/exercise6.css
/exercise6.html
/notes
/practiceset1.html
/practiceset8.css
/practiseset10.html
/practiseset11.html
/practiseset2.html
/practiseset3.html
/practiseset4.html
/practiseset5.html
/practiseset6.html
/practiseset7.css
/practiseset7.html
/practiseset8.html
/practiseset9.html